h1{
    margin-left: 30%;
    margin-top: 5%;
    color: rgb(255, 60, 0);
}
.born{
    margin-left: 30%;
    font-style: italic;


}
p{
    font-size: 20px;
    font-style:italic;
    
}
.chapter{
    background-color: rgb(224, 247, 247);
}